# Configuration file

####################
# enchantments
####################

enchantments {
    I:Appealing=60
    I:"Barbed Hook"=65
    I:"Double Hook"=66
    I:Efficency=67
    I:"Heavy Line"=68
    I:"Long Cast"=62
    I:Magnetic=61
    I:"Short Cast"=63
}


####################
# item
####################

item {
    I:"Admin Rod ID"=22025
    I:"Diamond Fishing Rod ID"=22003
    I:Fish=22000
    I:"Gold Fishing Rod ID"=22002
    I:"Iron Fishing Rod ID"=22001
    I:Loot=22010
    I:"Neptunium Axe"=22017
    I:"Neptunium Boots"=22023
    I:"Neptunium Chest"=22021
    I:"Neptunium Helmet"=22020
    I:"Neptunium Hoe"=22018
    I:"Neptunium Legs"=22022
    I:"Neptunium Pickaxe"=22015
    I:"Neptunium Shovel"=22016
    I:"Neptunium Sword"=22019
}


