# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=1600
    I:redlogic.button.id=813
    I:redlogic.customCircuitBlock.id=1601
    I:redlogic.gates.id=1602
    I:redlogic.lampCubeDecorative.id=1603
    I:redlogic.lampCubeIndicatorOff.id=1604
    I:redlogic.lampCubeIndicatorOn.id=1605
    I:redlogic.lampCubeOff.id=1606
    I:redlogic.lampCubeOn.id=1607
    I:redlogic.lampNonCube.id=1193
    I:redlogic.machineBlock.id=1608
    I:redlogic.plainBlock.id=1609
    I:redlogic.wire.id=1610
}


####################
# general
####################

general {
    B:autoAssign=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=
    B:enableTPSCommand=true
    I:redlogic.defaultTimerTicks=20
    I:redlogic.minTimerTicks=4
}


####################
# item
####################

item {
    I:itemSaw=5100
    I:redlogic.chip=14547
    I:redlogic.compiledCircuit=9879
    I:redlogic.schematic=6900
    I:redlogic.screwdriver=16517
}


