# Configuration file

####################
# block
####################

block {
    I:BasicBlock=3000
    I:BasicBlock2=3010
    I:BoundingBlock=3005
    I:CardboardBox=3009
    I:EnergyCube=3004
    I:GasTank=3006
    I:MachineBlock=3001
    I:MachineBlock2=3008
    I:ObsidianTNT=3003
    I:OreBlock=3002
}


####################
# general
####################

general {
    B:AllowSpawnerBoxPickup=true
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=true
    I:CopperGenerationAmount=16
    B:CopperGenerationEnabled=false
    B:DisableBCBronzeCrafting=false
    B:DisableBCSteelCrafting=false
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.1
    B:EnableSounds=true
    D:EnergyPerRedstone=10000.0
    S:EnergyType=J
    B:FancyUniversalCableRender=true
    B:ForceBuildcraftPower=false
    B:Holidays=true
    D:JoulesToEU=10.0
    D:JoulesToMJ=25.0
    B:LogPackets=false
    D:MJToJoules=0.04
    B:MachineEffects=true
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    I:OsmiumGenerationAmount=12
    B:OsmiumGenerationEnabled=true
    D:SoundVolume=1.0
    I:TinGenerationAmount=14
    B:TinGenerationEnabled=false
    B:UpdateNotifications=true
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=true
}


####################
# item
####################

item {
    I:ArmoredJetpack=11227
    I:AtomicCore=11211
    I:AtomicDisassembler=11210
    I:Balloon=11234
    I:BrineBucket=11228
    I:Clump=11219
    I:CompressedCarbon=11216
    I:CompressedRedstone=11229
    I:Configurator=11221
    I:ControlCircuit=11214
    I:Crystal=11231
    I:Dictionary=11201
    I:DirtyDust=11220
    I:Dust=11204
    I:ElectricBow=11200
    I:ElectrolyticCore=11232
    I:EnergyTablet=11206
    I:EnergyUpgrade=11208
    I:EnrichedAlloy=11212
    I:EnrichedIron=11215
    I:FreeRunners=11233
    I:GasMask=11235
    I:Ingot=11205
    I:ItemProxy=11213
    I:Jetpack=11223
    I:MultipartTransmitter=11236
    I:NetworkReader=11222
    I:PortableTeleporter=11217
    I:Robit=11209
    I:Salt=11226
    I:Sawdust=11225
    I:ScubaTank=11237
    I:Shard=11230
    I:SpeedUpgrade=11207
    I:TeleportationCore=11218
    I:WalkieTalkie=11224
}


####################
# usage
####################

usage {
    D:ChemicalCrystalizerUsage=400.0
    D:ChemicalDissolutionChamberUsage=400.0
    D:ChemicalInfuserUsage=200.0
    D:ChemicalInjectionChamberUsage=400.0
    D:ChemicalWasherUsage=200.0
    D:CombinerUsage=50.0
    D:CrusherUsage=50.0
    D:DigitalMinerUsage=100.0
    D:ElectrolyticSeparatorUsage=50.0
    D:EnergizedSmelterUsage=50.0
    D:EnrichmentChamberUsage=50.0
    D:FactoryUsage=50.0
    D:MetallurgicInfuserUsage=50.0
    D:OsmiumCompressorUsage=100.0
    D:OxidationChamberUsage=200.0
    D:PrecisionSawmillUsage=50.0
    D:PurificationChamberUsage=200.0
    D:RotaryCondensentratorUsage=50.0
}


