# Configuration file

####################
# armoredenderman
####################

armoredenderman {
    S:biomegroups <ARMOREDENDERMAN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# armoredpigzombie
####################

armoredpigzombie {
    S:biomegroups <ARMOREDPIGZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# armoredskeleton
####################

armoredskeleton {
    S:biomegroups <ARMOREDSKELETON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# armoredzombie
####################

armoredzombie {
    S:biomegroups <ARMOREDZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# dragonchinese
####################

dragonchinese {
    S:biomegroups <DRAGONCHINESE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# dwarf
####################

dwarf {
    S:biomegroups <DWARF_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# dwarfboss
####################

dwarfboss {
    S:biomegroups <DWARFBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# friendlyhuman
####################

friendlyhuman {
    S:biomegroups <FRIENDLYHUMAN_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# goblin
####################

goblin {
    S:biomegroups <GOBLIN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# goblinboss
####################

goblinboss {
    S:biomegroups <GOBLINBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# golemboss
####################

golemboss {
    S:biomegroups <GOLEMBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# golemsmall
####################

golemsmall {
    S:biomegroups <GOLEMSMALL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# greendragon
####################

greendragon {
    S:biomegroups <GREENDRAGON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gremlin
####################

gremlin {
    S:biomegroups <GREMLIN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# gremlinboss
####################

gremlinboss {
    S:biomegroups <GREMLINBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# icebull
####################

icebull {
    S:biomegroups <ICEBULL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# liche
####################

liche {
    S:biomegroups <LICHE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# mecha
####################

mecha {
    S:biomegroups <MECHA_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# minotaurarmored
####################

minotaurarmored {
    S:biomegroups <MINOTAURARMORED_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# minotaurboss
####################

minotaurboss {
    S:biomegroups <MINOTAURBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# monkey
####################

monkey {
    S:biomegroups <MONKEY_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# monking
####################

monking {
    S:biomegroups <MONKING_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# necromancer
####################

necromancer {
    S:biomegroups <NECROMANCER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# ogrearmored
####################

ogrearmored {
    S:biomegroups <OGREARMORED_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# orcarmored
####################

orcarmored {
    S:biomegroups <ORCARMORED_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# orcshaman
####################

orcshaman {
    S:biomegroups <ORCSHAMAN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# pigmage
####################

pigmage {
    S:biomegroups <PIGMAGE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# pirate
####################

pirate {
    S:biomegroups <PIRATE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# pirateboss
####################

pirateboss {
    S:biomegroups <PIRATEBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# slimeboss
####################

slimeboss {
    S:biomegroups <SLIMEBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# snowgoblin
####################

snowgoblin {
    S:biomegroups <SNOWGOBLIN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# specter
####################

specter {
    S:biomegroups <SPECTER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# specterboss
####################

specterboss {
    S:biomegroups <SPECTERBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# spiderboss
####################

spiderboss {
    S:biomegroups <SPIDERBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# summonedbait
####################

summonedbait {
    S:biomegroups <SUMMONEDBAIT_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# summonedgoblin
####################

summonedgoblin {
    S:biomegroups <SUMMONEDGOBLIN_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# summonedundead
####################

summonedundead {
    S:biomegroups <SUMMONEDUNDEAD_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# triton
####################

triton {
    S:biomegroups <TRITON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# tritonboss
####################

tritonboss {
    S:biomegroups <TRITONBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# turtleboss
####################

turtleboss {
    S:biomegroups <TURTLEBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# walker
####################

walker {
    S:biomegroups <WALKER_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# walkerboss
####################

walkerboss {
    S:biomegroups <WALKERBOSS_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


